@import url('http://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Chewy');

body
{
width:1024px;
margin-right:auto;
margin-left:auto;	
background-color:#CCC;
}

#zaglavlje
{
width:1024px;
height:180px;
margin-right:auto;
margin-left:auto;
margin-top:0px;
margin-bottom:0px;	
background-color:#2B60DE;
}

#logotip
{
width:180px;
height:180px;
margin:10px;
}

#logotip > a
{
color:#000080;
text-decoration:none;
font-weight:bold;
}

#logotip > a:hover
{
color:#000080;
}

#logoSlika 
{
width:160px;
height:160px;
float:left;
}

#logoTekst 
{
color:#000080;
width:35px;
height:80px;
font-family:'Chewy';
font-size:35px;
font-weight:bold;
text-shadow: 4px 4px 2px black;
position:relative;
top:-35px;
left:18px;
}

#logoTekst > a
{
color:#000080;
text-decoration:none;
font-weight:bold;
}

#logoTekst > a:hover
{
color:#000080;
}


#slogan 
{
color:#FFFFFF;
width:750px;
height:80px;
font-family:'Lobster';
padding-top:100px;
vertical-align:bottom;
font-size:50px;
text-shadow: 4px 4px 8px black;
}

#izbornik
{
width:1024px;
margin:0px;
position:relative;
top:-16px;
}

#izbornik .meni
{
padding: 12px 0px 5px 0px;
width:100%;
list-style-type: none;
float: right;
background-color:#0020C2;
margin-bottom:30px;
}

#izbornik .meni li
{
display:inline;
float:left;
list-style-type: none;
margin: 0;
padding: 0;
font-family:sans-serif;
font-size:28px;
}

#izbornik .meni li a
{
color:#D7D7D7;
text-decoration:none;
display:block;
width:254px;
text-align: center;
}

#izbornik .meni li a:hover
{
font-weight:bold;
cursor:pointer;
}

h2
{
font-family:sans-serif;
font-size:30px;
color: #0020C2;
margin-top:0px;
}

#podnozje
{
width:1024px;
margin:30px 0px 30px 0px;
padding: 5px 0px 5px 0px;
background-color:#0020C2;
color:#D7D7D7;
text-align:center;
}

/* ------ ( Naslovnica ) ---------------------- */

#novosti 
{
margin-left: auto;
margin-right: auto;
width:80%;
height:600px;
border:5px solid #0020C2;
overflow:auto;
}

.novost
{
border-bottom:3px solid black;
margin:0;
width:100%;
height:210px;
}

.novost:hover 
{
color:#0020C2;
font-weight:bold;
}

.tekstNovost 
{
width:50%;
height:160px;
float:left;
margin-top:10px;
margin-bottom:10px;
}

.tekstNovost h3
{
margin:0;
}

.novost img 
{
float:right;
width:45%;
height:160px;
margin:10px;
}

.detaljnije 
{
position:relative;
top:50px;
text-decoration: none;
background-color: #0020C2;
color:#FFFFFF;
width:100px;
padding:5px 10px 5px 10px;
}

/* ------ ( Tabelarni prikaz ) ---------------------- */


table.tabelarniPodaci
{
font-family:sans-serif;
margin: 0px 25% 0px 25%;
width:470px;
height:220px;
border-top:3px solid black;
border-right:3px solid black;
border-bottom:3px solid black;
border-left:3px solid black;
border-collapse:collapse;
}

th.plavaCelija, td.plavaCelija, td.plavkastaCelijaNaziv, td.bijelaCelijaNaziv, td.plavkastaCelijaCijena, td.bijelaCelijaCijena
{
border-top:1px solid black;
border-right:1px solid black;
border-bottom:1px solid black;
border-left:1px solid black;
}

table.tabelarniPodaci td.plavaCelija, table.tabelarniPodaci th.plavaCelija
{
text-align:center;
background-color:#0020C2;
}

table.tabelarniPodaci td.bijelaCelijaNaziv
{
background-color:#FFFFFF;
text-align:left;
}

table.tabelarniPodaci td.bijelaCelijaCijena
{
background-color:#FFFFFF;
text-align:right;
}

table.tabelarniPodaci td.plavkastaCelijaNaziv
{
background-color:#2B60DE;
text-align:left;
}

table.tabelarniPodaci td.plavkastaCelijaCijena
{
background-color:#2B60DE;
text-align:right;
}

/* ------ ( Linkovi ) ---------------------- */


ul.izborLinkova
{
margin-left:30px;
list-style-image:url(http://icons.iconarchive.com/icons/r34n1m4ted/gucci/32/SHOE-icon.png); 
}

ul.izborLinkova a
{
font-family:sans-serif;
font-size:30px;
color: #0020C2;
}

ul.izborLinkova a:hover
{
color:#2B60DE;
font-weight:bold;
}

/* ------ ( Kontakt forma ) ---------------------- */

iframe
{
width:427;
height:255;
frameborder:0;
}

div
{
vertical-align:top;
font-weight:bold;
display:inline-block;
width:180px;
margin:0px 0px 10px 20px;
}

#uzvicnik1,#uzvicnik2,#uzvicnik3,#uzvicnik4,#uzvicnik5,#uzvicnik6
{
vertical-align:top;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
width:15px;
height:15px;
position:relative;
top:3px;
visibility:hidden;
}

#greskaImePrezime,#greskaEmail1,#greskaEmail2,#greskaPoruka,#greskaGrad,#greskaPostanskiBroj
{
width:300px;
margin:0px 0px 10px 10px;
color:red;
}


input
{
width:172px;
}

.spol
{
width:auto;
}

textarea
{
width:172px;
height:100px;
max-width:172px;
max-height:100px;
}

button, #submitButton
{
float:left;
background-color: #0020C2;
color:#FFFFFF;
height:30px;
width:100px;
font-size:20px;
}

/*--padajauci*/

#podmeni 
{
position:absolute;
top:44px;
left:520px;
width:auto;
height:auto;
}

#podmeni  ul 
{
list-style: none;
}

#podmeni ul  li 
{
background-color:#5388FF;
position:relative;
top:5px;
}

#podmeni ul  li a
 {
vertical-align:center;
text-align:left;
font-size:20px;
height:25px;
color:white;
text-decoration: none;
}

#podmeni ul  li:hover 
{
background-color: #EB2112;
}

.sakrivenidiv
{
display:none;
}

.vidljividiv
{
display:block;
}

#kontaktPrikaz{
    width: 400px;
}

.labelaIspis{
    text-align: right;
    display: inline-block;
    width: 150px;
}

.pregled{
    margin-left: 20px;
    border: 0;
    background-color: transparent;
}

#submitButton{
    width: 20%;
    margin-left: 40%;
}

#vijestSlika{
    width: 80%;
    height: 30%;
    margin-left: 10%
}